.logo {
    color: white;
    font-style: italic;
    font-weight: bold;
    font-family: helvetica;
}

.spacer {
    flex-grow: 1;
}

.column {
    display: flex;
    flex-flow: column nowrap;
}

.line {
    display: flex;
    flex-flow: row nowrap;
}

.button {
    background-color: rgb(30, 139, 195);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-family: verdana;
}

.iconChoice{
    text-align: center;
}

.button:hover {
    background-color: rgb(37, 116, 169);
}

.return {
  width: 75px;
  margin: 5px !important;
  text-align: center;
}

.profile {
  font-family: verdana;
}

.draw-line {
  width: 80%;
  border: 1px solid black;
  margin: auto;
}
