html {
  height: 100%
}

body {
  min-height: 100%;
  margin: 0px;
  display: flex;
  flex-flow: column;
}

a {
  color: #0040FF;
}

a:visited {
  color: inherit;
}

a:hover {
  color: #5258EB;
}

#header {
  height: 100px;
  width: 100%;
  background: #ff0000;
  display: flex;
  flex-flow: row nowrap;
}

#header .logo {
  font-size: 40px;
  text-align: center;
  line-height: 100px;
}

#dropbtn {
  background-color: #ff0000;
  cursor: pointer;
  height: 100px;
  width: 80px;
  padding: 0px 25px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: center;
}

#dropbtn .rectangle {
  width: 50%;
  height: 10%;
  margin: 2px auto;
  background-color: black;
}

#dropdown {
  position: absolute;
  display: none;
  right: 0;
  min-width: 160px;
  z-index: 2;
}

#menu:hover #dropdown {
  display: block;
}

#menu:hover #dropbtn {
  background: #aa0000;
}

#dropdown .button {
  text-align: center;
  padding: 3px 0px;
  border-radius: 0px;
}

#core {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

.active-pane {
  display: flex;
  flex-flow: column;
}

.reserve-pane {
  display: none;
}

#footer {
  background-color: #ff0000;
  height: 25px;
  width: 100%;
}
