#pane-swipe {
 display:flex;
 flex-flow: column;
}

#pane-swipe h1 {
  text-align:center;
}

#image{
  background:#eeeeee;
  padding:25px;
}

#image img{
  max-width: 100%;
  max-height: 450px;
}
#button-choice {
  display: flex;
  font-size: 24px;
}
#button-choice .button {
  width: 150px;
  text-align: center;
  margin: 10px;
}
#no {
  background-color: #e51100;
}
#no:hover{
  background:#5f0000;
}
#unsure {
  background-color: yellow;
  color:black;
}
#unsure:hover{
  background:#f2c700;
}
#yes {
  background-color: green;
}
#yes:hover{
  background:#0e5200;
}
#done {
  width: 300px;
  font-size: 34px;
  text-align: center;
  margin: 10px;
}
