.profile {
  width: 55%;
  min-width: 600px;
  background: #eeeeee;
  margin: 25px auto;
  padding: 25px;
  display: flex;
  justify-content: space-between;
}

.profile img {
  width: 90%;
  height: 70%;
  margin: auto 5px;
}

.profile .column {
  width: 35%;
  margin: 0px 5px;
  min-height: 180px;
}

.profile .line {
  margin: 3px 0px;
}


.profile a {
  color: #ff0000;
}

.profile a:hover {
  color: #aa0000;
}

#pane-criminal-profile .draw-line {
  min-width: 600px;
  width: 60%;
}
